@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-size: 62.5%;
    @apply font-sans;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}
nav ul {
display: flex;
background-color: grey;
padding: 0;
margin-top: 20px;
margin-right: 30px;
}

nav li {
  margin-right: 20px;
}